<div class="footer">
  <div class="upper-part col-12 d-flex">

    <div class="logo_div col-4">

      <img src="../../../assets/Logo.jpg" alt="Girl in a jacket">
      <p>ThefootyStats is your best resource for stats such as Goals, Over 2.5/Under
        2.5, HT/FT,
        Dynamic In-Play Stats, and much more. If you have any questions, thoughts or feedback please
        don't hesitate to get in touch.</p>

    </div>
    <div class="col-8">
      <table class="fields">
        <tr>
          <th>Stats</th>
          <th>Matchs</th>
          <th>Leagues</th>
          <th>Prediction</th>
        </tr>
        <tr>
          <td>shashank</td>
          <td>abhi</td>
          <td>kar</td>
          <td>kje</td>
        </tr>
        <tr>
          <td>shashank</td>
          <td>abhi</td>
          <td>kar</td>
          <td>kje</td>
        </tr>
        <tr>
          <td>shashank</td>
          <td>abhi</td>
          <td>kar</td>
          <td>kje</td>
        </tr>
        <tr>
          <td>shashank</td>
          <td>abhi</td>
          <td>kar</td>
          <td>kje</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="bottom-text">
    <p>Copyright ©2023 All rights reserved - thefootystats.com</p>
  </div>

</div>