<div class="top_sceen">
  <div class="bgImage">
    <div class="alignText">
      <h1>
        Stats and Insight
      </h1>

      <p>
        Lorem ipsum dolor sit amet.
      </p>
    </div>

  </div>
</div>

<div class="middle_screen container">

  <p>Find teams by their performance in each
    football betting statistics such as Over
    2.5, Over 1.5 and BTTS- This is the most
    efficient way to find value. All stats are
    taken from currently active leagues.
    Team must have played at least 5
    matches to be shown on this page.</p>

</div>