<div class="header">
  <div class="logo_div">
    <img src="../../../assets/Logo.jpg" alt="Girl in a jacket">
  </div>

    
    <div class="header-right">
        
        
      <a class="home">Home</a>
      <a class="fields">Stats </a>
      <a class="fields">Matches</a>
      <a class="fields">Leagues</a>
      <a class="fields">Predictions</a>
      <button  class="register abc">Register</button> 
       <button class="login abc"><img src="../../../assets/ion_log-in-outline.png" alt="">Login</button>
     
    </div>
</div>



