.home_header {
    width: 100%;

}

.home_top {
    height: 325px;
    background: #F2F2F2;

    div>p {
        font-family: "Montserrat" !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;

    }

    div>h1 {
        font-family: "Montserrat" !important;
        font-size: 36px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

    }
}

.middle-container {
    background-color: #fff !important;
    color: #000 !important;
    width: 100% !important;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;

    li>button {
        width: Hug (83px);
        height: Hug (37px);
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        gap: 10px
    }
}
.mat-tab-group.equal-width .mat-tab-list .mat-tab-label {
    width: 50%;
    min-width: 50px;
    padding: 0;
    .mat-tab-label-content {
      white-space: normal;
      line-height: normal;
    }
  }
.listing{
    width: 821px;
    height: 31px;
    top: 557px;
    left: 310px;
    border-radius: 5px;

}
li {
    // font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
//   color: #182957;

    
  }
  .tab_css{
    background-color: red;
  }


  .ccc{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0.4rem 1rem;
  }

  .abhi{
    background-color: red;
    background: red;
    color: aqua;
  }

  .mat-tab-label-active {
    background-color: red;
  }
  .last_img{
    img{

    margin-left: 90px
    }
  }
  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
    // width: 50%;
  }

  .mat-accordion .mat-expansion-panel {
    // border-top-right-radius: 4px;
    // border-top-left-radius: 4px;
    width: 50%;
}
.mat-expansion-panel-header-description {
  flex-grow: 2;
  margin-left: -256px;
  font-family: Montserrat;
font-size: 13px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0em;
color: #182957;
// text-align: left;

}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.5), /* Top shadow */ 0 -10px 0px -9px rgba(0, 0, 0, 0.5);
}


  